# These were the latest (working) releases when starting this project
detectron2 @ git+https://github.com/facebookresearch/detectron2@e70b9229d77aa39d85f8fa5266e6ea658e92eed3
panopticapi @ git+https://github.com/cocodataset/panopticapi@7bb4655548f98f3fedc07bf37e9040a992b054b0
wandb==0.16.2
easydict==1.11
diffusers==0.26.2
transformers==4.37.2
python-dotenv==1.0.1
accelerate==0.26.1
segmentation-models-pytorch==0.3.3